
/*nav styles */

.header{
  background-image: url('../Assets/Hero-bg.png');
  max-width: 1440px;
  height: 698px;
  margin: 0 auto;
  
}



.navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  height: 100px;
  margin: 0 150px ;
  color: blue;
}


.banner{
   text-align: center;
   max-width: 905px;
   height: 237px;
   margin: 309px 270px  152px  ;
   
}
div h3{
  font-size: 60px;
  nav
}

div button{
  width: 174px ;
  height: 48px ;
  border-radius: 10px;
  background-color: blue;
  color: white;
  border: none;
}

nav h1{
  font-size: 40px;

}


nav button {
  
  width: 132px;
  height: 48px;
  border-radius: 10px;
  background-color: blue;
  color: white;
  border: none;
}

.action{
  background-color: #F5F8FF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 330px;
  max-width: 1140px;
  margin: 100px auto;
  border: none
}

.text-item{
  margin: top 30px;
  width: 517px;
  height: 203;  
}
.text-item h6{
  font-size: 24px;
  color: rgba(88, 88, 88, 0.612);
}
.text-item button{
  height: 48px ;
  width: 229px;
  margin-bottom: 50px;
}
div img{
  width: 403px;
  height: 328px;
  border-radius: 48px;
}




.container{
  max-width: 1140px;
  margin: auto;
  padding: 50px 30px;
  
}
.wrapper{
  max-width: 1140px;
  margin: 0 auto;
  padding: 30px 15px;
  border-radius: 24px;
  background-color: #E5E7FE;
}

.title{
  text-align: center;
}
.inner-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 142px;
  gap: 30px;

}
.card{
  text-align: center;
}
.card h2{
  color: blue;
  font-size: 80px;
}
.card p{
  color: rgb(116, 114, 114);
}

.container-2{
  display: flex;
  background-color: #E5E7FE;
  border-radius: 10px;
  padding: 40px;
  justify-content: space-between;
  
  max-width: 1140px;
  margin: auto;
}

.left-section{
 margin: auto 0;  
}

.form-group{
  margin-bottom: 20px;
}
.form-group input{
  border-radius: 6px;
  border: #E5E7FE;
  font-size: 1em;
  width: 100%;
  padding: 12px 15px;
}
.form-group textarea{
  border-radius: 6px;
  padding: 6px 60px;
}

.footer {
    background-color: #f8f8f8; 
    padding: 40px 20px;
    text-align: center;
    max-width: 1140px;

    margin: auto;
            
  }

  .footer-logo {
    font-size: 2.5em; 
   font-weight: bold;
   color: #4169E1; 
   margin-bottom: 10px;
  
 }
   


  .footer-subtitle {
    font-size: 0.9em;
     color: #777;
    max-width: 600px;
    margin: 0 auto 30px auto; 
    
 }

.footer-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 30px; 
  }

.footer-nav li a {
    text-decoration: none;
    color: #777; 
    font-size: 1em;
    
  }

  .footer-nav li a:hover {
    color: #4169E1;
  }
